html {
	font-family: "Poiret One", Helvetica, sans-serif;
}

h1 {

}

div {
	padding-left: 30%;
	padding-right: 30%;
}

div.header {
	text-align: right;
}

div.navigation {

}

ul.navigation {
	width: 100%;
}

ul.navigation li {
	float: center;
}